.ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}


/* Styles for small screens */
@media screen and (max-width: 768px) {
  .ProfileSide {
    /* To stack the elements vertically */
    display: flex;
    flex-direction: column;
  }

  /* Styles for the Toggle Profile button */
  .toggleProfileBtn {
    padding: 8px 16px;
    background-color: #f99827;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  /* Show the button initially on mobile view */
  .collapsed-container {
    display: none;
  }

  /* Show collapsed components when 'showCollapsed' state is 'true' on mobile view */
  .ProfileSide.show-collapsed .collapsed-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.toggleProfileBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow-up,
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.arrow-down {
  border-top: 10px solid #333;
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
}

.arrow-up {
  border-bottom: 10px solid #333;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.arrow-up:hover {
  transform: scale(1.2); 
}
.arrow-down:hover {
  transform: scale(1.2); 
}


